* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

cut-out {
  width: 100%;
  height: 100%;
  display: block;
  grid-area: cutout;
}

main {
  padding: 0.1em;
  display: grid;
  gap: 1em;
  grid-template: 
    "controls cutout" auto
    "text cutout" 1fr
    "help cutout" auto
    / 20em 1fr;
  height: 100vh;
}

textarea, input, label, select {
    display: block;
    width: 100%;
}

textarea {
    grid-area: text;
    width: 100%;
    height: 100%;
    resize: none;
}
#font-loaders {
    position: absolute;
    left: -10000px;
    font-size: 0.0001px;
}
